
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Memur Şikayet | Kayıt Alanı</title>
    <link href="/AdminDashboard/AdminDashboard1/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/AdminDashboard/AdminDashboard1/https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/AdminDashboard/AdminDashboard1/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/AdminLTE-3.0.4/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Memur Şikayet  Paneli</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AdminLTE-3.0.4/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@Session["WriterMail"]</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        @*@if (User.IsInRole("B"))
                            {*@

                        @*<li class="nav-item has-treeview menu-open">
                                <a href="/Writer/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Profilim
                                    </p>
                                </a>
                            </li>*@
                        @*}*@



                        <li class="nav-item has-treeview menu-open">
                            <a href="/AdminCategory/Index/" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Kategoriler
                                </p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a href="/Heading/Index/" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Tüm Şikayetler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Writer/Index/" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Personeller
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="~/Content/GetAllContent/" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Yazılar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="~/Heading/HeadingReport/" class="nav-link">
                                <i class="nav-icon fas fa-search"></i>
                                <p>
                                    Raporlar
                                </p>
                            </a>
                        </li>
                        @if (User.IsInRole("A"))
                        {
                            <li class="nav-item has-treeview">
                                <a href="~/Test/SweetAlert/" class="nav-link">
                                    <i class="nav-icon fas far fa-map"></i>
                                    <p>
                                        Sweet Alert
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Authorization/Index/" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-alt"></i>
                                    <p>
                                        Yetkilendirmeler
                                    </p>
                                </a>
                            </li>

                        }
                        <li class="nav-item">
                            <a href="/WriterPanel/MyHeading/" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Kontrol edilen işlerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/SahaDurum/Index/" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Şüpheli Alan kontrolü
                                </p>
                            </a>

                        </li>
                        @*<li class="nav-item">
                                <a href="/WriterPanel/AllHeading/" class="nav-link">
                                    <i class="nav-icon fas fa-list-alt"></i>
                                    <p>
                                        Tüm Şikayetler
                                    </p>
                                </a>
                            </li>*@
                        @*<li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>
                                    <p>
                                        İletişim & Mesajlar
                                    </p>
                                </a>
                            </li>*@
                        <li class="nav-item has-treeview">
                            <a href="/WriterPanelContent/MyContent/" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Yaptığım işlemler
                                </p>
                            </a>
                        </li>

                        @*<li class="nav-item">
                                <a href="pages/gallery.html" class="nav-link">
                                    <i class="nav-icon far fa-image"></i>
                                    <p>
                                        Galeri
                                    </p>
                                </a>
                            </li>*@

                        <li class="nav-item has-treeview">
                            <a href="/Default/Headings/" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Bütün Firma Şikayetleri
                                </p>
                            </a>

                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Login/LogOut/" class="nav-link">
                                <i class="nav-icon fas fa-apple-alt"></i>
                                <p>
                                    Çıkış yap
                                </p>
                            </a>

                        </li>



                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                @RenderBody()
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->

    <script src="/AdminDashboard/AdminDashboard1/vendor/jquery/jquery.min.js"></script>
    <script src="/AdminDashboard/AdminDashboard1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/AdminDashboard/AdminDashboard1/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/AdminDashboard/AdminDashboard1/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="/AdminDashboard/AdminDashboard1/vendor/chart.js/Chart.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/AdminDashboard/AdminDashboard1/js/demo/chart-area-demo.js"></script>
    <script src="/AdminDashboard/AdminDashboard1/js/demo/chart-pie-demo.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
</body>
</html>